.LogoLogin{
  grid-area: 1/1/2/2;
  width: 95%;
  margin-top: 10%;
}

.p {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  font-size: larger;
  font-family: 'PoppinsBold';
}

.FormLogin{
  grid-area: 2/1/3/2;
  background-image: url("/public/Materials/LoginFondo.jpeg");
  width: 95%;
  height: 350px;
  padding: 2px;
  margin-top: 20px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /*
  background-color: rgb(243, 72, 72)!important;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  height: 250px;
  width: 90%;
  margin-left: 4%;
  border-radius: 8px;
  text-align: center;
  */
}

.Email{
  margin-right:50px;
  margin-top: 20px;
  font-family: 'PoppinsBold';
}

.formPassword{
  margin-right:20px;
  text-align: center;
}

.Contraseña{
  margin-right: 20px;
  font-family: 'PoppinsBold';
}

.formEmail{
  text-align: center;
  margin-top: 111px;

}

.Registrarse{
  margin-top: 25px;
  margin-left: 40%;
  font-family: 'PoppinsBold';
}

.LoginIniciar{
  margin-top:60px;
  margin-left: 40%;
  font-family: 'PoppinsRegular';
}



/* 
.Inputs{
  margin-top: 20%;
}
.InputLogin{
  height: 15%;
  border-radius: 5%;
}
*/





